.main {
	position: relative;
	width: 800px;
	margin:0px auto;
	background: white;
	border:1px solid #ccc;
	border-radius:5px; 
	top: 60px;
}

.main form{
	text-align: center;
	position: relative;
	top:10px;
}

.regtable{
	width: 50%;
	margin: 10px auto;
}